@model PagedList.IPagedList<MvcMusicStore.Models.Album>
@using PagedList.Mvc;

<table>
    <tr>
        <td><b>Artist</b></td>
        <td><b>Title</b></td>
        <td><b>Price</b></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Artist.Name</td>
            <td>@item.Title</td>
            <td>@string.Format("{0:c}", item.Price)</td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("AjaxSearch", new { searchString = ViewBag.queryString, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "searchResults" }))